@model Privafo.Models.ViewModels.NavModuleVM

<li class="nav-item dropdown dropdown-large hold-switcher">
	<a class="nav-link switcher-btn hold-switcher" id="switcher-module" href="#"> <i class='bx bx-category hold-switcher'></i></a>
</li>

<div class="switcher-wrapper">
	<div class="d-flex align-items-center">
		<div class="text-color-theme"><i class="bx bx-cog bx-spin"></i></div>
		<button type="button" class="btn-close ms-auto" aria-label="Close"></button>
	</div>
	<div class="switcher-head align-items-center hold-switcher">
		<h5 class="mb-2 text-uppercase text-color-theme hold-switcher">Modules</h5>
	</div>
	<div class="switcher-body hold-switcher" id="scroll-mod">
		@foreach(var obj1 in Model.ModuleCtgList)
		{
			<div class="module-group hold-switcher">
				<div class="list-inline module-group-header hold-switcher">
					<p class="module-group-title text-color-theme hold-switcher">@obj1.ModuleCtgName</p>
				</div>
				<div class="module-list hold-switcher">
					<div class="row hold-switcher">
						@foreach(var obj2 in Model.ModuleList)
						{
							if(obj2.ModuleCtgID == obj1.ID){
								<div class="col-md-6 module-item-area hold-switcher">
									<a class="module-item-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@obj2.ID">
										<div class="module-item-label hold-switcher">
											<i class="@obj2.ModuleImageClass font-22 align-middle me-1 hold-switcher text-warning"></i>  @obj2.ModuleName
										</div>
									</a>
								</div>
							}
						}
					</div>
				</div>
			</div>
		}
	</div>
	<div class="switcher-footer">
		Privafo Modules
	</div>
</div>