@{
    ViewData["Title"] = "Module";
}

@section rtpage
{
<div class="ms-auto">
	<div class="btn-group">
		<button type="button" class="btn btn-primary">Settings</button>
		<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
			<a class="dropdown-item" href="javascript:;">Another action</a>
			<a class="dropdown-item" href="javascript:;">Something else here</a>
			<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
		</div>
	</div>
</div>
}

<h6 class="mb-0 text-uppercase">DataTable Example</h6>
<hr/>
<div>
    @*<div class="row">
        <div class="col-6">
            <h2 class="text-primary">Module List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Module" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Module
            </a>
        </div>
    </div>*@
    <div class="card">
		<div class="card-body">
            <div class="d-lg-flex align-items-center mb-4 gap-3">
				<div class="position-relative">
					<input type="text" class="form-control ps-5 radius-30" placeholder="Search Order"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
				</div>
				<div class="ms-auto"><a asp-controller="RiskRegister" asp-action="Upsert" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add Risk</a></div>
			</div>
	        <div class="table-responsive">
                <table id="tblData" class="table" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th>Risk Name</th>
                            <th>Description</th>
                            <th>Organization</th>
                            <th>Type</th>
                            <th>Residual Risk Level</th>
                            <th>Inherent Risk Level</th>
                            <th>Source</th>
                            <th>Risk Owner</th>
                            <th>Stage</th>
                            <th>Treatment Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    
</div>

@section Scripts{
    <script src="~/js/datagrid/riskregister.js"> </script>
}

