@model Privafo.Models.ViewModels.RiskRegisterVM
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<div class="card">
    <div class="card-body p-4">
        <h5 class="card-title">@(Model.RiskRegister.ID!=0?"Update": "Create") Risk Category</h5>
		<hr/>
        <form method="post" asp-action="Upsert" enctype="multipart/form-data">
            <input asp-for="RiskRegister.ID" hidden />
            <input asp-for="RiskRegister.CreatedBy" value="@UserManager.GetUserId(User)" hidden />
            <input asp-for="RiskRegister.ModifiedBy" value="@UserManager.GetUserId(User)" hidden />

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-3">
                            <label asp-for="RiskRegister.RiskRegName"></label>
                            <input asp-for="RiskRegister.RiskRegName" class="form-control" />
                            <span asp-validation-for="RiskRegister.RiskRegName" class=text-danger></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="RiskRegister.Description"></label>
                            <textarea asp-for="RiskRegister.Description" class="form-control" rows=3></textarea>
                            <span class=text-danger></span>
                        </div>
                        <div class="col-12">
                            @if (Model.RiskRegister.ID != 0)
                            {
                                <button type="submit" class="btn btn-primary" style="width:150px;">Update</button> 
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>                
                            }
                            <a asp-controller="RiskRegister" asp-action="Index" class="btn btn-secondary" style="width:150px;">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}

