<div class="switcher-filter" id="filter-side">
	<div class="d-flex align-items-center">
		<div class="text-color-theme"><i class="bx bx-cog bx-spin"></i></div>
		<button type="button" id="btn-close-filter" class="btn-close ms-auto" aria-label="Close"></button>
	</div>
	<div class="switcher-filter-head align-items-center hold-switcher">
		<h5 class="filter-title mb-3 text-uppercase text-color-theme hold-switcher"></h5>
	</div>
	<div class="switcher-filter-body hold-switcher" id="scroll-mod">
		<div class="filter-body-content">
			<div id="myFilter" class="mb-5"></div>
			<div class="d-sm-flex">
				<a id="submitFilter" class="btn btn-primary btn-block ms-auto">Submit</a>
			</div>
		</div>
	</div>
	<div class="switcher-filter-footer">
		Filter Tables
	</div>
</div>