
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_LayoutWelcome.cshtml";
}
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <center>
          <h1>Modules</h1>    
        </center>
    </div>
  </div>
  <div class="row">    
    
    <div class="col-md-3">
      <div class="box">
        <div class="content">
          <img src="https://www.e-bureauet.dk/media/1062/competency-cms.svg" alt="">
          <br>
          <p>Assessment Automation</p>
        </div>
        <div class="content-hover">
            <h1>Platform</h1>
            <p>We are specialised in different CMS platforms so we can offer the best advice for our clients</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="box">
        <div class="content">
          <img src="https://www.e-bureauet.dk/media/1065/competency-webshop.svg" alt="">
          <br>
          <p>Data Mapping</p>
        </div>
        <div class="content-hover2">
            <h1>E ECOMMERCE</h1>
            <p>We are specialised in different CMS platforms so we can offer the best advice for our clients</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="box">
        <div class="content">
          <img src="https://www.e-bureauet.dk/media/1063/competency-integration.svg" alt="">
          <br>
          <p>Vendor Risk Management</p>
        </div>
        <div class="content-hover">
            <h1>Platform</h1>
            <p>We are specialised in different CMS platforms so we can offer the best advice for our clients</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="box">
        <div class="content">
          <img src="https://www.e-bureauet.dk/media/1062/competency-cms.svg" alt="">
          <br>
          <p>Mapping</p>
        </div>
        <div class="content-hover2">
            <h1>Platform</h1>
            <p>We are specialised in different CMS platforms so we can offer the best advice for our clients</p>
        </div>
      </div>
    </div>
    
  </div>
</div>

