@model Province

@{ ViewData["Title"] = "Index"; }

@section rtpage
{
    <div class="ms-auto">
	    <a class="btn btn-primary radius-30 mt-2 mt-lg-0" onclick="showInPopup('@Url.Action("Upsert","Province",null,Context.Request.Scheme)','Create New Province')"><i class="bx bxs-plus-square"></i>Add Province</a>
    </div>
}

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", new Province())
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/theme/plugins/toastr/js/toastr.min.js"></script>
    <script src="~/js/datagrid/province.js"> </script>    
	<script src="~/theme/plugins/adv-structured-filter/js/structured-filter.min.js"></script>
}
